@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

.swiper-button-next,
.swiper-button-prev {
    color: #f76eb5; /* rosita */
}

.swiper-pagination-bullet {
    background-color: #ff6cb8; /* Cambia este color al que prefieras */
}

/* Personaliza los puntos de paginación activos */
.swiper-pagination-bullet-active {
    background-color: #ff6cb8; /* Cambia este color al que prefieras */
}
